@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

body{
    font-family: "Laila", serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    background: url(sight.jpg);
}
a{
    text-decoration: none;
}
header{
    padding: 20px 48px;
    margin: 20px;
    background: #ED5C93;
    height: 45px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
}
header nav{
    float: right;
    width: 50%;
}

header nav a{
     color: #fff;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #fff;
}
header nav ul li.btn a{
    background-color:#911927;
    padding: 10px 18px;
    border-radius: 5px;
}
header nav ul li.btn a:hover{
    background-color: #5E0913;
}
header nav ul li.active::after{
    content: "";
    display: block;
    widows:40px;
    height: 5px;
    background-color:#fff;
}
.container{
    margin-top: 60px;
    margin-left: 55px;
}
.container img{
    border-radius: 80px;
    position: relative;
}
.container p{
    position: absolute;
    font-size: 30px;
    color: #fff;
    bottom: 200px;
    left: 100px;
}
.logo{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    color:#fff;
    padding-bottom: 0px;
    padding-right: 500px;
    padding-top: -12px;
}
h2{
    font-size: 32px;
    font-weight: bold;
    color: #000;
}

.hero--info{
    background-color: rgba(255, 255, 255, .6);
    width: 1500px;
    height: 600px;
    padding-top: 70px;
}
.info h1{
    margin: 0px 30px;
    background-color: #DE5767;
    border-radius: 50px;
    width: 450px;
    font-weight: 700;
    font-size: 64px;
    opacity: 100%;
    color: #FFF; 
}
.hero--info img{
    top: 1020px;
    position:absolute;
    right: 0;
    width: 60%;
    padding: 10px 40px;
    border-radius: 100px;
    opacity: 100%;
}
.SECTIONS{
    display: flex;
    justify-content: space-between;
    margin-top: -50PX;
}
.SECTIONS .BLOCK{
    width: 400PX;
    border-radius: 70px;
    margin: 100PX;
    padding: 50px 50px;
    color: #000;
    background: rgba(255, 255, 255, .4);
}
.SECTIONS .BLOCK img{
    width: 300PX;
    padding: 40PX 50PX;
    border-radius: 70PX;
}
.SECTIONS .BLOCK P{
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
}

/*Launcher*/

.sight{
    background-repeat: no-repeat;
    background: url(launcher1.jpg);
    width: 98%;
    height: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 100px;
    border-radius: 50px;
    padding-left: 30px ;
}
.sight h2{
    font-size: 20px;
    font-weight: 700;
    color:#FFFF00;
    padding: 0px 5px;
}
.sight h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
.sight p{
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0px;
    color: #fff;
}
.sight .btn{
    background-color: #FFFF00;
    color: #fff;
    border-radius: 30px;
    padding: 15px 30px;
    border: 0;
      font-size: 17px;
}
.sight .btn:hover{
    cursor:pointer;
   transform: scale(1.1);
}
.big-text{
    margin-top: -30px;
    font-size: 36px ;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(90deg,rgba(232, 179, 19, 1) 19%, rgba(4, 54, 140, 1) 63%, rgba(191, 10, 134, 1) 89%);
    color: #FFF;
    background-clip: text;
    -webkit-text-stroke: 6px transparent;
}

.pages{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    background: linear-gradient(90deg,rgba(197, 79, 105, 1) 19%, rgba(53, 10, 194, 1) 100%);
}
.pages img{
    width: 600px;
}
.pages h2{
    font-size: 30px;
    color: #FFF;
    background: #8B008B;
    background-clip: text;
    -webkit-text-stroke: 2px transparent;
}
.pages .page1 h2{
    padding-left: 30px;
}
.pages .page2 h2{
   padding-left: 490px; 
}
.pages .page3 h2{
    padding-left: 30px;
}
.pages .page4 h2{
    padding-left: 530px;
}
.pages .page5 h2{
    padding-left: 30px;
}
.pages .page1 img {
    float:left;
    padding-left: 30px;
     border-radius: 50px;
}
.pages .page2 img {
    float: right;
    padding-right: 30px;
     border-radius: 50px;
}
.pages .page3 img{
    float: left;
    padding-left: 30px;
     border-radius: 50px;
}
.pages .page4 img{
    float: right;
    padding-right: 30px;
     border-radius: 50px;
}
.pages .page5 img{
    float: left;
    padding-left: 30px;
    border-radius: 50px;
}

/*CONTACTS*/

.hero-contacts h1{
    color: #FFF;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 33px;
}
.hero-contacts p{
    color:#FFF;
    text-align: center;
}
.hero-contacts img{
    width: 70%;
    margin: 80px 15%;
}

.feedback{
    padding: 70px 0;
    background-color: #C54F69;
}
.feedback h2{
    color: #FFF;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}
.feedback p{
    color:#FFF;
    text-align: center;
    margin-top: 10px;
}
.feedback form{
    margin: 80px auto;
    width: 600px;
}
.feedback form .inline{
    display: flex;
    justify-content: space-between;
}
.feedback form .inline > div{
    width: 50%;
}
.feedback form label{
    color: #4f4f4f;
    font-size: 14px;
}
.feedback form input,
.feedback form textarea{
    background: #AB4556;
    border-radius: 10px;
    border: 0.6px solid #cecece;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #FFF;
    margin-top: 7px;
    margin-bottom: 20px;
}
.feedback form .one-line{
    width: 96%;
}
.feedback form textarea{
    resize: none;
    height: 200px;
}
.feedback form button{
    background: #dc7000;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    color: #FFF;
    padding: 15px 35px;
    transition: all 500ms ease;
}
.feedback form button:hover{
    background-color: #b01414;
}
/*FOOTER*/
footer{
    background: rgba(0, 0, 0, .8);
    padding: 50px 50px;
    color: #fff;
    height: 300PX;
}
footer .blocks{
    display: flex;
    justify-content:space-between;
}
footer .blocks p{
    width: 300px;
    margin: 15px 0;
}
footer .blocks h4{
    font-weight: 500;
    font-size: 17px;
}
footer .blocks ul{
    list-style: none;
}
footer .blocks ul li{
    margin-top:7px;
    opacity: 0.8;
}
footer hr{
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #DCDCDC;
}
footer > p{
    text-align:center;
}
